html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;

}



.active{
draggable : true;
text-decoration:none;
color:gray;
}

.non-active{
	draggable : false;
   pointer-events: none;
   cursor: default;

}

h2{
color:gray;
}

ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}


#container{
width:100%;
height:100%;

}

#rightpane{	
	margin-left: 0px;
	height:100%;
	width:100%;
}


#leftpane{
	-moz-transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	width: 310px; 
	float: left;
	background:skyblue;
	height:120%;
	position:relative;
	margin-left:-300px;	
	line-height:normal;
}




#slider-range {
width:230px;
}

 td
{
float: right;
}
